.root {}

.block {
  background-color: #fff;
  padding: 20px;

  & .header {

    & .head {
      margin-bottom: 20px;

      & .top {
        & .title {
          font-weight: normal;
          font-size: 21px;
        }
      }

      & .data {
        padding: 15px 0;

        & .info {


          & .item {
            display: inline-block;
            color: #999;
            margin-right: 25px;


            &:last-child {
              margin-right: 0;
            }

            span {
              margin-right: 3px;
            }

            strong {
              color: #666;
              font-weight: normal;
            }
          }
        }
      }
    }

    & .tabs {
      border-bottom: 1px solid #eee;

      & a {
        display: inline-block;
        font-size: 13px;
        padding: 10px 0;
        color: #888;
        margin-right: 20px;

        &:hover {
          color: #000;
        }

        &.active {
          cursor: default;
          color: #0078BD;
          box-shadow: 0 1px 0 0 #0078BD;
        }
      }
    }
  }
}